body{
background-image: url(BGimage.jpg);
background-size: cover;
background-position: center;
text-align: center;

}

#myCanvas{
border: 8px solid aquamarine; 
background-color: white; 
border-style:ridge;
cursor: pointer;
}

button{
background-color: lightblue; font-size: 18px;color: black; 

}

button:hover{
    font-size:25px;color: red;  
    }
    